{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Chi sono{% endblock %}

{% block content %}
    <h2>Chi sono</h2>
    <p class="chi_sono">
        Ciao a tutti,<br><br>

Sono Fabio, un giovane appassionato di sport e sviluppo software. Ho conseguito una laurea in Scienze delle Attività Motorie e Sportive presso l'Università di Torino, dove ho sviluppato solide competenze nell'ambito del corpo umano e dell'attività fisica.<br><br>

Fin dai tempi delle superiori, ho scoperto una passione innata per la risoluzione di problemi complessi e l'affronto di sfide intellettuali. Ho ottenuto diversi riconoscimenti in concorsi di matematica e logica, dimostrando una particolare abilità nel trovare soluzioni innovative.<br><br>

Dopo la laurea, ho deciso di seguire la mia seconda passione: lo sviluppo software. Mi sono immerso nell'apprendimento di linguaggi di programmazione come Python, che offre una grande versatilità e potenza. Successivamente, mi sono concentrato sul framework Django, che mi ha permesso di sviluppare progetti significativi, come blog personali, social network, siti e-commerce e piattaforme di e-learning.<br><br>

La programmazione mi affascina per la sua componente logica e la sfida mentale che comporta. Mi gratifica risolvere problemi complessi e creare soluzioni efficaci. Ho approfondito anche il mondo dei database, acquisendo competenze con MySQL per integrare le mie conoscenze nel back-end.<br><br>

Sono un apprendista veloce e motivato, sempre pronto ad adattarmi a nuovi ambienti di lavoro e ad apprendere nuove tecnologie. Lavoro efficacemente sia in autonomia che in team, collaborando con colleghi provenienti da diversi background.<br><br>

Sono entusiasta all'idea di mettere a frutto le mie competenze logiche, la creatività e la dedizione nello sviluppo di soluzioni software innovative. La mia formazione multidisciplinare, combinata con la passione per la logica e la risoluzione dei problemi, mi consente di offrire un approccio unico nello sviluppo di applicazioni di successo.<br><br>

Sono consapevole che il percorso che ho intrapreso è diverso da quello tradizionale per diventare uno sviluppatore software, ma credo fermamente che la mia combinazione di competenze, la motivazione e il desiderio di apprendere in modo continuo mi rendano un candidato ideale per affrontare nuove sfide in questo campo.<br><br>

Sono pronto ad affrontare nuove sfide e a contribuire con le mie competenze e la mia dedizione al successo del vostro progetto. Vi invito a esplorare il mio portfolio online, dove potrete trovare i progetti che ho realizzato durante il mio percorso di studio e apprendimento.<br><br>

Grazie per l'attenzione dedicata e spero di poter collaborare con voi per realizzare soluzioni software innovative e di successo.<br><br>

A presto,<br>

Fabio
    </p>
    
{% endblock %}